<div class="form-container">
    <a routerLink="/home" id="goback">Back</a>
    <img src="assets/images/lock.svg" id="lock">

    <span class="error" *ngIf="error">{{ error }}</span>

    <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
    <button (click)="loginGoogle()" id="google">Login With Google</button>
    <button routerLink="/login-email" id="email">Email</button>
    <div class="alc">Don't have an account? <a routerLink="/signup" routerLinkActive="active"><strong>Sign up</strong></a></div>
</div>